@import url(../fonts/import/index.css);
@import url(./modal.css);
@import url(./switch.css);
@import url(./scroll.css);
@import url(./header.css);
@import url(./word-wrapper.css);

:root {
    --blue: #3485FF;
    --white: #FAFAFA;
    --hover-blue: #5699FF;
    --red: #e73333;

    --main-background: #FAFAFA;
    --option-background: #F5F5F5;
    --modal-background: #FFFFFF;
    --border-color: #ccc;
    --main-color: #000;

    --main-hover-brightness: .95;

    --scrollbar-background: #bbb;
    --scrollbar-thumb: #999;
    --scrollbar-thumb-hover: #777;
    --scrollbar-thumb-active: #555;
}

.dark {
    --main-background: #1F1F1F;
    --option-background: #1f1f1f;
    --modal-background: #262626;
    --border-color: #ccc;
    --main-color: #ddd;

    --main-hover-brightness: 1.3;

    --scrollbar-background: transparent;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
    --scrollbar-thumb-active: #444;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    display: grid;
    overflow: hidden;
    background-color: var(--main-background);
    color: var(--main-color);
}

.dashed-border {
    border: 2px dashed var(--border-color);
    border-radius: 16px;
}

.spacing-16 {
    padding: 16px;
    margin: 16px
}

.grid-fill-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
}

.grid-fill-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
}

.gap {
    gap: 20px;
}

.option {
    @extend .dashed-border;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    justify-self: center;

    background-color: var(--option-background);
    width: 80%;
    max-width: 300px;
    aspect-ratio: 1/1;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0;
    cursor: pointer;
    border-radius: 16px;

    &>div {
        @extend .flex-center;
    }

    & svg * {
        &[stroke]:not([stroke="none"]) {
            stroke: var(--main-color);
        }

        &[fill]:not([fill="none"]) {
            fill: var(--main-color);
        }
    }

    &:hover {
        filter: brightness(var(--main-hover-brightness));
    }
}

.option-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

button {
    @extend .flex-center;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 12px;
    width: max-content;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    justify-self: center;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;

    height: 100%;
    padding: 5px;

    &#view {
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 10px;
        padding-bottom: 0;
    }

    &#create {
        font-family: "Nunito", sans-serif;

        & .t-wrapper {
            display: grid;
        }

        & textarea {
            width: 100%;
            height: 100%;
            resize: none;
        }
    }

    &#config {
        user-select: none;

        & .dashed-border {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & .line {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
        }
    }

}

input,
textarea {
    width: 100%;
    font-family: "Nunito", sans-serif;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 8px;
    display: block;
    background-color: var(--main-background);
    color: var(--main-color);

    &:read-only {
        resize: none;
    }

    &:focus {
        border: 2px solid var(--hover-blue);
    }

    &:invalid {
        border: 2px solid red;
    }
}

select {
    background-color: var(--main-background);
    color: var(--main-color);
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}