@import url(../fonts/import/index.css);

:root{
    --blue: #3485FF;
    --white: #FAFAFA;
    --hover-blue: #5699FF;
    --red: #e73333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    display: grid;
    overflow: hidden;
}

header {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 30px;

    & h1{
        position: absolute;
        right: 50%;
        left: 50%;
        top: 0;
        width: max-content;
        transform: translateX(-50%);
        font-size: 30px;
        line-height: 30px;
    }

    & .return{
        position: absolute;
        left: 0;
        top: 0;
        color: var(--blue);
        padding: 0 4px 0 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        &:hover{
            background-color: rgba(0, 0, 0, 0.171);
        }
    }
}

.dashed-border {
    border: 2px dashed #ccc;
    border-radius: 16px;
}

.spacing-16 {
    padding: 16px;
    margin: 16px
}

.grid-fill-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
}

.grid-fill-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
}

.gap {
    gap: 20px;
}

.option {
    @extend .dashed-border;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    justify-self: center;

    background-color: #f5f5f5;
    width: 80%;
    max-width: 300px;
    aspect-ratio: 1/1;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0;
    cursor: pointer;
    border-radius: 16px;
    
    & img{
        width: 15%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    &:hover {
        filter: brightness(0.8);
    }
}

.option-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.word-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    scroll-behavior: smooth;

    & .word-header{
        font-weight: bold;
        font-size: 20px;
    }

    &>.word{
        display: grid;
        grid-template-columns: auto max-content;
        & .controls{
            display: flex;
            justify-content: center;
            align-items: center;
            & > img{
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: rgba(119, 108, 108, 0.226);
                }
            }
        }
    }
}

.modal-wrapper {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    & .modal {
        width: 100%;
        max-width: 500px;
        background: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;

        & .modal-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 26px;
            line-height: 26px;
            padding: 8px 8px 0;
            width: 100%;
        }

        & .modal-body {
            text-align: left;
            width: 100%;
            border: solid black;
            border-width: 1px 0;
            padding: 20px 8px;
        }

        & .modal-footer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding: 8px;


            & button {
                &.cancel {
                    background-color: var(--red);
                }

                &.close:hover {
                    filter: brightness(1.1);
                    transition: background 200ms;
                }
            }
        }

        & ul {
            padding-left: 20px;
        }
    }
}

button {
    @extend .flex-center;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 12px;
    width: max-content;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    justify-self: center;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;

    height: 100%;
    padding: 5px;

    &#view{
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 10px;
        padding-bottom: 0;
    }

    &#create {
        font-family: "Nunito", sans-serif;

        & input,
        textarea {
            width: 100%;
            font-family: "Nunito", sans-serif;
            border: 2px solid #ccc;
            border-radius: 8px;
            padding: 8px 8px;
            display: block;
            &:focus {
                border: 2px solid var(--hover-blue);
            }
            &:invalid{
                border: 2px solid red;
            }
        }

        & .t-wrapper {
            display: grid;
        }

        & textarea {
            width: 100%;
            height: 100%;
            resize: none;
        }
    }

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}