%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

div:has(> .word-wrapper) {
	position: relative;
	margin-bottom: 5px;
	margin-left: -5px;
}

.word-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	scroll-behavior: smooth;
	padding: 0 5px;

	.word {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		font-family: "Nunito";
		padding: 2px 4px;
		border-radius: 8px;

		&:hover {
			background-color: var(--main-hover-background);
		}

		.content {
			flex-shrink: 1;
			display: flex;
			flex-direction: column;
			gap: 4px;
			flex: 1;
			overflow: hidden;

			.word-header {
				font-weight: bold;
				font-size: 20px;
				flex: 1;
			}

			.word-definition {
				font-size: 16px;
				line-height: 16px;
				width: 100%;
				text-overflow: ellipsis;
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		>.controls {
			display: none;
		}

		&:hover>.controls {
			@extend %flex-center;
		}

		.controls {
			gap: 4px;

			>div {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				cursor: pointer;

				@extend %flex-center;

				&:hover {
					background-color: rgba(119, 108, 108, 0.226);
				}

				svg {
					max-width: 100%;
					max-height: 100%;

					[stroke]:not([stroke="none"]) {
						stroke: var(--main-color);
					}

					[fill]:not([fill="none"]) {
						fill: var(--main-color);
					}
				}
			}
		}
	}
}