@font-face {
    font-family: "Nunito";
    src: url(../Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url(../Nunito-Bold.ttf);
    font-weight: bold;
}