.page#edit {
    font-family: "Nunito", sans-serif;

    :not(input, textarea) {
        user-select: none;
    }

    .t-wrapper {
        display: grid;
    }

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
    }

    button {
        &.cancel {
            background-color: var(--red);
        }

        &.close:hover {
            filter: brightness(1.1);
            transition: background 200ms;
        }
    }
}