.circle-button {
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;

    border: none;
    box-shadow: none !important;
    padding: 0;
    background-color: inherit;

    display: grid;
    place-items: center;

    border-radius: 50%;

    cursor: pointer;

    &:has(.context-wrapper:hover):hover {
        background-color: inherit;
    }

    &:hover {
        background-color: var(--main-hover-background);
    }

    &.small {
        width: auto;
        height: auto;
        padding: 6px;
    }

    svg {
        cursor: pointer;

        * {
            &[stroke]:not([stroke="none"]) {
                stroke: var(--main-color);
            }

            &[fill]:not([fill="none"]) {
                fill: var(--main-color);
            }
        }
    }
}