header {
    font-family: 'Open Sans', sans-serif;
    height: 30px;

    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    width: 100%;

    >.title {
        top: 0;
        width: max-content;
        user-select: none;
        // flex-shrink: 0;

        justify-self: center;

        >.select-title {
            font-size: 28px;
            width: max-content;
            border: none;
            text-align: center;
            opacity: 1;
            cursor: pointer;

            option {
                font-size: 16px;
            }

            &:hover {
                background-color: var(--main-hover-background);
            }
        }

        >h1 {
            font-size: 30px;
            line-height: 30px;
        }
    }

    .left {
        justify-self: left;
    }

    .right {
        justify-self: right;
    }

    >.left,
    >.right {
        // border-radius: 50%;
        // min-width: 30px;
        // min-height: 30px;

        // flex-shrink: 1;

        padding: 2px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:has(.left:not(:empty))>.right:empty {
        width: 30px;
    }

    &:has(.right:not(:empty))>.left:empty {
        width: 30px;
    }
}