.modal-wrapper {
    background-color: transparent;
    position: fixed;
    top: 30px;
    height: calc(100% - 30px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &::backdrop {
        position: fixed;
        inset: 0;
        top: 30px;
        background: rgba(0, 0, 0, 0.5);
    }

    &:has(#view-word, .dashed-border-modal) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 30px);
        padding: 20px;
    }



    :not(:is(.modal-header, .info, p)) {
        &:has(>.circle-button) {
            position: relative;

            >.circle-button {
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }

    >.modal {
        width: auto;
        height: max-content;
        min-width: 400px;
        max-height: 100%;
        max-width: 80vw;

        margin: auto;
        border-radius: 16px;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content 1fr max-content;
        align-items: center;

        user-select: none;
        font-family: "Poppins", sans-serif;
        color: var(--main-color);
        background: var(--modal-background);

        &:has(.dashed-border) {
            display: block;
        }

        &.full {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        &.release-modal {
            button {
                border: 1px solid var(--blue);

                &:hover {
                    border: 1px solid var(--main-color);
                    box-shadow: none;
                }

                &.cancel {
                    border: 1px solid;
                    background-color: var(--main-background) !important;
                    border-color: var(--border-color) !important;

                    &:hover {
                        --border-color: var(--blue);
                    }
                }
            }
        }

        .info {
            font-family: "Nunito", sans-serif;
            user-select: text;
            border: 1px solid var(--border-color);
            padding: 2px 4px;
            border-radius: 4px;
            background-color: var(--main-background);
            font-size: 14px;

            &.big {
                display: block;
                width: 100%;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 6px;
                }
            }
        }

        .date-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:only-child {
                    grid-column: 1 / 3;
                }
            }
        }

        .modal-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            padding: 8px;
            width: 100%;

            justify-content: space-between;
        }

        .modal-body {
            text-align: left;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            border: solid var(--main-color);
            border-width: 1px 0;
            padding: 20px 14px;
            flex-shrink: 1;
            white-space: break-spaces;

            p {
                margin-bottom: 8px;
            }
        }

        .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            >svg {
                min-width: 32px;
                max-width: 40px;
                height: 100%;
                width: 100%;

                aspect-ratio: 1/1;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            padding: 12px 8px;
            gap: 20px;

            &:has(>button:only-child) {
                justify-content: center;
            }

            button {
                border-radius: 6px;
                font-size: 12px;

                &.cancel:not(.stroke) {
                    background-color: var(--red);
                    border-color: var(--red);
                }

                &.disabled,
                &:disabled {
                    opacity: 0.5 !important;
                }

                &:not(.disabled, :disabled) {
                    &.close:hover {
                        filter: brightness(1.1);
                        transition: background 200ms;
                    }
                }
            }
        }

        ul {
            padding-left: 20px;
        }

        &:is(form) {
            label {
                display: flex;
                align-items: center;

                gap: 8px;

                input[type="checkbox"] {
                    height: 16px;
                    width: 16px;
                    border-radius: 4px;

                    margin: 0 5px 0 0;
                    cursor: pointer;
                }
            }
        }

        &#view-word .dashed-border {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content 1fr max-content max-content;

            height: -webkit-fill-available;
            gap: 16px;
        }
    }
}