.modal-wrapper {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 30px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    >.modal {
        width: auto;
        max-height: 100%;
        height: max-content;
        max-width: 80vw;
        min-width: 400px;
        background: var(--modal-background);
        border-radius: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content 1fr max-content;
        align-items: center;
        font-family: "Poppins", sans-serif;
        user-select: none;

        &.full {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        .info {
            font-family: "Nunito", sans-serif;
            user-select: text;
            border: 1px solid var(--border-color);
            padding: 2px 4px;
            border-radius: 4px;
            background-color: var(--main-background);
            font-size: 14px;
            margin-top: 4px;

            &.big {
                display: block;
                width: 100%;
            }
        }

        .date-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:only-child {
                    grid-column: 1 / 3;
                }
            }
        }

        &:has(.dashed-border) {
            display: block;
        }

        .modal-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            padding: 14px;
            width: 100%;
        }

        .modal-body {
            text-align: left;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            border: solid var(--main-color);
            border-width: 1px 0;
            padding: 20px 14px;
            flex-shrink: 1;
        }

        .word-picker-body {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                width: 100%;
                gap: 5px;
                align-items: center;

                &:first-of-type {
                    margin-bottom: 10px;
                }

                input {
                    width: 14px;
                    height: 14px;
                }

                span {
                    font-size: 16px;
                    line-height: 16px;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            padding: 14px;
            gap: 20px;

            &:has(>button:only-child) {
                justify-content: center;
            }

            button {
                border-radius: 6px;
                font-size: 12px;
                border: 1px solid var(--blue);

                &.cancel:not(.stroke) {
                    background-color: var(--red);
                    border-color: var(--red);
                }

                &:not(.disabled) {
                    &.close:hover {
                        filter: brightness(1.1);
                        transition: background 200ms;
                    }

                    &:hover {
                        border-color: var(--main-color);
                    }
                }
            }
        }

        ul {
            padding-left: 20px;
        }

        &#add-dictionary {
            label {
                display: flex;
                align-items: center;

                gap: 8px;

                input[type="checkbox"] {
                    height: 16px;
                    width: 16px;
                    border-radius: 4px;

                    margin: 0 5px 0 0;
                    cursor: pointer;
                }
            }
        }

        &#view-word .dashed-border {
            // display: flex;
            // flex-direction: column;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content 1fr max-content max-content;

            height: -webkit-fill-available;
            gap: 10px;


        }
    }
}